.error {
    color: #f00;
}
.sessionsTable{
    border-spacing: 0;
    border: solid 1px #222;
}
.sessionsTable td{
    border: solid 1px #222;
    padding: 3px;
}
.sessionsTable tr:nth-child(odd) {
    background: #ccc;
}
.sessionsTable tr:nth-child(1) {
    background: #999;
    font-weight: bold;
}