#searchBar{
    width: 537px;
    background: transparent;
}
#searchResults p{
    margin-top:0px;
    text-align:justify;
    color: #333;
}
#footer span{
    color: #99e;
}
#content form{
    margin-bottom: 30px;
    padding:0px;
}
