
html, body {
   margin: 0;
   padding: 0;
   height: 100%;

}

#content,#header{
    margin-left:50px;
}

#searchResults{
    width:600px;
     padding-bottom:40px;
}
#content{
     min-height:100%;
     height:auto !important;
     height:100%;
     position:relative;
}
#footer{
    margin-top:-30px;
    margin-left:50px;
    height:20px;
    min-height:20px;
    position:relative;
}
.hidden{
display:none !important;
}

#tip{
   margin-left: 3px;
   display: block;
   width: 185px;
   height: 20px;
   position: absolute;
   margin-top: 3px;
    color:#999;
    z-index:-1;
}